/* 全局样式 */
@charset "UTF-8";
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;

  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-font-color;
  background-color: $default-background;
  font-size: $default-font-size;
  font-weight: 200;
}

// 重置标题标签样式
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px auto;
  padding: 2px auto;
}

//重置EL框架的卡片投影样式
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

// 重置animate动画特效
:root {
  --animate-duration: 400ms;
  --animate-delay: 0ms;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 200ms;
}

.animate__animated.animate__fadeOut {
  --animate-duration: 10ms;
}

// 进度条样式
#nprogress .bar {
  background: #409eff !important;
}

// Chrome浏览器滚动条样式
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  border-radius: 25px;
}

// 滚动条的滑块按钮
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9 !important;
  border-radius: 5px;
  transition: all 200ms;
  -webkit-transition: all 200ms;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #848586 !important;
}

// 滚动条的轨道
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

// 滚动条的上下两端的按钮
::-webkit-scrollbar-button {
  height: 0px;
  width: 0;
}
