/* 全局样式 */
html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;

  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $default-font-color;
  background-color: $default-background;
  font-size: $default-font-size;
  font-weight: 200;
}

/* 自定义进度条 */
#nprogress .bar {
  background: #409eff !important;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.message_cust_success {
  max-width: 300px;
}

.message_cust_error {
  max-width: 95%;
}

.message_cust_info {
  max-width: 95%;
}

/* 隐藏滚动条,同时能够滚动*/
// .hidden_scroll::-webkit-scrollbar {
//   display: none;
// }

::-webkit-scrollbar {
  // display: none;
  width: 10px;
  height: 10px;
  // border-radius: 50px;
  border-radius: 25px;
}
/*滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px auto;
  padding: 2px auto;
}

:root {
  --animate-duration: 400ms;
  --animate-delay: 0ms;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 200ms;
}

.animate__animated.animate__fadeOut {
  --animate-duration: 50ms;
}
