.whiteColor {
  color: white !important;
}

.blackColor {
  color: black;
}

.topTxtColor {
  color: #999;
}

// 消息弹窗样式
.message_cust_success {
  max-width: 300px;
}

.message_cust_error {
  max-width: 95%;
}

.message_cust_info {
  max-width: 95%;
}
