root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,vue,md}]
charset = utf-8-bom

[*.json]
charset = utf-8

[vue.config.js]
end_of_line = lf

[babel.config.js]
end_of_line = lf
