@font-face {
  font-family: "iconfont"; /* Project id 2464597 */
  src: url('iconfont.woff2?t=1623603660111') format('woff2'),
       url('iconfont.woff?t=1623603660111') format('woff'),
       url('iconfont.ttf?t=1623603660111') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconzhankai:before {
  content: "\e8b5";
}

.iconshouqi:before {
  content: "\e8b2";
}

.iconappstore:before {
  content: "\e674";
}

.iconappstore-fill:before {
  content: "\e675";
}

.icontihuan:before {
  content: "\e676";
}

.iconbell:before {
  content: "\e677";
}

.iconarrow-left:before {
  content: "\e678";
}

.iconsuo:before {
  content: "\e644";
}

.iconsuo1:before {
  content: "\e617";
}

.iconlock-fill:before {
  content: "\e628";
}

.iconsuo2:before {
  content: "\e615";
}

.iconyonghu:before {
  content: "\e603";
}

.iconuser-line:before {
  content: "\e635";
}

.iconpaobu:before {
  content: "\e673";
}

.iconziyuan:before {
  content: "\e614";
}

.iconpaobu1:before {
  content: "\e67d";
}

.iconpao:before {
  content: "\e66d";
}

.iconic_exitfullscreen:before {
  content: "\e620";
}

.iconic_fullscreen:before {
  content: "\e621";
}

